body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.pic {
	width: 300px;
	margin: 15px;
}

.pic-left {
	float: left;
	margin-left: 0px;
}

.pic-right {
	float: right;
	margin-right: 0px;
}